@import '~office-ui-fabric-react/dist/sass/References.scss';

.eventAgenda {
  .card {
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    padding:15px;
  }
}
